.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  &__side {
    min-height: 100vh;
    width: 80px;
    background-color: #fff;
  }
  &__container {
    position: absolute;
    left: 80px;
    top: 0;
    color: $themeColor;
    width: calc(100vw - 80px);
    min-height: 100vh;
    background-color: $themeGray;
  }
}

